body {
    font-family: 'RichEatinAllCaps'; 
    font-weight: normal; 
    font-style: normal;
    background-image: url('images/malik-skydsgaard-ylGcmefqE_I-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    display: flex;
    justify-content: center
}

.profile-section {
    background-color: lightgray;
    color: green;
}

.review-section {
    background-color: tan;
    color: black;
}